.card {
    background-color: var(--color-gray-100);
    margin: 4rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text {
    height: 15rem;
}

.input {
    border-color: rgb(194, 194, 194);
    border-style: solid;
    border-radius: 5px;
}