.post-page {
  margin: 2rem 10vw 0 10vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2rem;

  &__post-section, &__author-section, &__comment-section {
    border: $width-border solid $border-color;
    background-color: $color-white;
  }

  &__post-section {
    margin-bottom: 1rem;
  }

  &__comment-section {
    padding: 1rem 2.5rem;
  }

  &__comments-header {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
  }

  &__author-section {
    height: 20rem;
    position: sticky;
    top: calc(6vh + 2.4rem);
  }
}