.user-page {
  margin: 0 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  @include respond(tab-land) {
    margin: 0 1rem 1rem 1rem;
    gap: .5rem;
  }

  &__sidebar {
    max-width: 23rem;
    justify-self: end;
    display: none;

    @include respond(phone) {
      flex: auto;
      display: block;
    }
  }

  &__content {
    @include respond(phone) {
      max-width: none;
    }
  }

  &__user-section {
    background-color: $color-white;
    max-width: 23rem;
    align-self: flex-start;
    border: solid $border-color $width-border;
    border-radius: $border-radius;
    overflow: hidden;
    margin-bottom: .5rem;
    justify-self: end;
    grid-row: 1;

    @include respond(phone) {
      max-width: none;
    }
  }

  &__wall-section {
    width: 100%;
    max-width: 23rem;
    background-color: $color-white;
    border: solid $border-color $width-border;
    border-radius: $border-radius;
    justify-self: end;
    grid-column: 1;
    grid-row: 2;
  
    @include respond(phone) {
      max-width: none;
    }
  }

  &__posts-section {
    max-width: 1100px;
    grid-column: 2;
    grid-row: 1 / span 2;

    @include respond(phone) {
      grid-column: 1;
      grid-row: 3;
    }

    ul {
      padding-left: 0;
    }
  }
}