.user-page {
  margin: 0 2rem 2rem 2rem;
  display: flex;
  column-gap: 2rem;

  &__left {
  }

  &__user-section {
    background-color: $color-white;
    flex-grow: 6;
    width: 100%;
    max-width: 50vw;
    align-self: flex-start;
    border: solid $border-color $width-border;
    border-radius: $border-radius;
    margin-bottom: 2rem;
  }

  &__wall-section {
    background-color: $color-white;
    width: 100%;
    border: solid $border-color $width-border;
    border-radius: $border-radius;
  }

  &__posts-section {
    flex-grow: 3;

    ul {
      padding-left: 0;
    }
  }
}