.root-header {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: $color-white;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 2rem;

    &__logo {
        &--link {
            height: 200%;
			margin-bottom: .4rem;
		}

        height: 100%;
    }
    
    &__search-form {
        width: 50%;
        display: flex;
        height: 65%;
        min-height: 1.5rem;
		position: relative;
		display: flex;
		align-items: center;

        &--bar {
            width: 100%;
            border-radius: 100px;
            border-style: solid;
            // padding-left: 3.3rem;
            padding-left: 6vh;
			position: absolute;
			z-index: 1;
			height: 100%;
			font-size: 1rem;

            &:focus {
                outline: none;
            }
        }

        &--btn {
            background-color: $color-white;
            border: none;
            cursor: pointer;
			position: absolute;
			z-index: 2;
			background-color: transparent;
            left: 1rem;
            height: 3.8vh;
            width: 3.8vh;
            min-height: 1.5rem;
            min-width: 1.5rem;

            & img {
                width: 100%;
            }
        }
    }

    &__nav {
        & a {
            &.active {
				outline-style: solid;
				outline-color: $color-light-blue;
				outline-offset: 3px;
				outline-width: 2px;
            }
        }
    }
}
