.root-header {
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: $color-white;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: $width-border solid $border-color;

    @include respond(phone) {
        padding: .5rem 1rem;
    }

    @include respond(tab-land) {
        margin-bottom: 1.5rem;
    }

    &__sidebar-menu {
        display: none;
        cursor: pointer;

        @include respond(phone) {
            display: block;
        }
    }

    &__logo {
        height: 100%;
        margin-right: 1rem;
    }

    &__link {
        height: 200%;
        margin-bottom: .4rem;
    }
    
    &__search-form {
        height: 4.2vh;
        flex: 0 1 50%;
        margin: 0 auto;

        display: flex;
		align-items: center;
        justify-content: center;
        
        @include respond(phone) {
            height: 3.4vh;
        }

        &--bar {
            width: 90%;
            border-radius: $border-radius;
            border-style: solid;
            padding-left: 5vh;
			z-index: 1;
			height: 100%;
			font-size: 1rem;
            margin-left: -5vh;
            transition: all .2s;

            @include respond(phone) {
                padding-left: 4vh;
                margin-left: -3.5vh;
            }

            &:focus {
                outline: none;
                width: 100%;
                border-color: $color-light-blue;
            }
        }
    }

    &__search-btn {
        z-index: 2;
        height: 3.5vh;
        width: 3.5vh;
        padding: 0;
        min-height: 1.5rem;
        min-width: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__search-icon {
        height: 3.5vh !important;
        width: 3.5vh !important;
        
        @include respond(phone) {
            height: 3vh !important;
        }
    }

    &__nav {
        flex: 0 0 auto;

        @include respond(phone) {
        }

        & a {
            &.active {
				// outline-style: solid;
				// outline-color: $color-light-blue;
				// outline-offset: 3px;
				// outline-width: 2px;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        margin-left: .5rem;

        .account-btn {
            margin-right: 1.5rem;
        }
    }

    &__user-menu {
        @include respond(phone) {
            display: block;
        }
    }

    &__new-post-btn {
        @include respond(phone) {
            display: none !important;
        }
    }
}
