.root-header {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: $color-white;
    height: 6vh;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__logo {
        height: 100%;
    }

    &__link {
        height: 200%;
        margin-bottom: .4rem;
    }
    
    &__search-form {
        width: 50%;
        display: flex;
        height: 4.2vh;
        // height: 85%;
        // min-height: 1.5rem;
		position: relative;
		display: flex;
		align-items: center;

        &--bar {
            width: 100%;
            border-radius: 100px;
            border-style: solid;
            // padding-left: 6vh;
            padding-left: 8.2%;
			position: absolute;
			z-index: 1;
			height: 100%;
			font-size: 1rem;

            &:focus {
                outline: none;
            }
        }
    }

    &__btn {
        position: absolute;
        z-index: 2;
        // left: .8rem;
        left: 2%;
        height: 4.5vh;
        width: 4.5vh;
        padding: 0;
        min-height: 1.5rem;
        min-width: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__search-icon {
        // font-size: 2rem !important;
        height: 4.5vh !important;
        width: 4.5vh !important;
    }

    &__nav {
        & a {
            &.active {
				outline-style: solid;
				outline-color: $color-light-blue;
				outline-offset: 3px;
				outline-width: 2px;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;

        .account-btn {
            margin-right: 1.5rem;
        }
    }
}
