.account-btn {
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem;
  color: $color-white;
  font-weight: 600;
  background-image: linear-gradient(to right, $color-light-blue, $color-dark-blue);
  padding: .55rem;
  border-radius: 2px;
	background-color: transparent;
  cursor: pointer;
  border: none;

  position: relative;
  overflow: hidden;
  transition: transform .2s;

  // box-shadow: 2px 2px 2px lighten($color-light-blue, 10);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .8rem;
    height: 100%;
    background-color: rgba($color-white, .5);
    transform: translateX(-1.2rem) skew(20deg);
  }

  &:hover {
      transform: scale(1.06);

      &::after {
          animation: lightFromLeft .8s linear;
      }
  }

}