.editor {
  background-color: $color-white;
  text-align: center;
  padding: 1rem 2rem;

  &__title {
    font-size: 2rem;
  }

  &__top {
    color: $color-dark-gray;
    text-align: left;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__title-input {
    font-size: 2.5rem;
    border: none;
    outline: none;
    font-weight: bold;

    &::placeholder {
      color: inherit;
    }
  }

  &__tags-input {
    font-size: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    color: inherit;

    &::placeholder {
      color: inherit;
    }
  }

  &__img-input {
    visibility: hidden;
  }

  &__img-label {
    align-self: flex-start;
    border: solid 3px $border-color;
    border-radius: 3px;
    padding: .3rem .5rem;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;
    margin-bottom: 1rem;
  }

  &__editor {
    border: solid 2px $border-color;
    border-radius: 3px;
    text-align: left;
  }

  &__save-btn {
    float: right;
    font-size: 1.2rem;
  }

  &__cover-img-preview {
    width: 5rem;
  }
}

.ce-block__content {
  margin: 0;
  margin-left: 4rem;
  // width: 100%;
  max-width: none;
}

.ce-toolbar {
  &__content {
    width: 100%;
    max-width: none;
    height: .5rem;
  }

  &__actions {
    padding: 0;
    left: 0;
  }
}


// .ce-toolbar__actions {
//   &--opened {
//     width: 100%;
//     top: 0;
//     left: 0;
//     justify-content: space-between;
//   }
// }