.post-actions {
  display: flex;
  align-items: center;

  & > div {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    margin-right: .5rem;

    p {
      margin: 0;
      font-size: .9rem;
    }
  }

  &__favourite-btn {
    &--active {
      color: $color-red;
    }
  }
}