.post-detail {
    position: relative;

  &__image {
    width: 100%;
    height: 70vh;

    & img {
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }

  &__info {
    text-align: center;
    padding: 0 2.5rem;
  }

  &__title {
    text-transform: uppercase;
  }

  &__text {
    padding: 1rem 2.5rem;
  }

  &__owner-actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    background-color: $color-white;
    padding: .5rem .5rem;
    border: $width-border solid $border-color;
    border-radius: $border-radius;
    transition: all .25s;

    &--hidden {
      padding: 0;
    }
    &--hidden > :not(:first-child) {
      display: none;
    }
  }

  &__toggle-actions-btn {
    order: 1;
    cursor: pointer;
    border: none;
    background-color: $color-white;
    border-radius: $border-radius;
    padding: .34rem .1rem;
    align-self: center;
  }

  &__edit-btn, &__delete-btn {
    // box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  }
}