.post-detail {
    position: relative;

  &__image {
    width: 100%;
    height: 70vh;

    & img {
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }

  &__info {
    text-align: center;
    padding: 0 2.5rem;
  }

  &__title {
    text-transform: uppercase;
  }

  &__text {
    padding: 1rem 2.5rem;
  }

  &__actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &__owner-actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
  }

  &__edit-btn, &__delete-btn {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  }
}