.post-preview {
  background-color: $color-white;
  width: 60vw;
  // width: 100%;
  border-radius: $border-radius;
  border-style: solid;
  border-color: $border-color;
  border-width: $width-border;
  margin-bottom: 2rem;
  position: relative;

  display: flex;
  min-height: 50vh;

  // box-shadow: 0 0 50px 2px rgba(0,0,0,0.2);

  &__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    margin-left: 42vw;
    padding: 1rem 2rem;
    vertical-align: top;
    width: 30%;
    display: flex;
    flex-direction: column;

    &--horizontal {
      width: 100%;
      margin: 0;
    }
  }

  &__author {
    display: flex;
    margin-bottom: 1.5rem;
    flex: 0 1 auto;

    &-img-container {
      width: 3rem;
      height: 3rem;
      margin-right: .8rem;
    }

    &-name {
      margin: .3rem 0 0 0;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  &__date {
    font-size: .8rem;
    margin: 0;
  }

  &__title-container {
    margin-bottom: 2rem;
    flex: 1 1 auto;
  }

  &__title {
    &:link,
    &:visited {
      text-decoration: none;
      color: black;
      font-size: 1.3rem;
      font-weight: 700;
    }

    p {
      font-size: 1.3rem;
      margin: 0;
    }
  }

  &__info {
    flex: 0 1 auto;
  }

  &__actions {
    display: flex;
    align-items: center;

    & > div {
      cursor: pointer;
      margin-top: 0;
      margin-bottom: 0;

      display: flex;
      align-items: center;
      margin-right: .5rem;

      p {
        margin: 0;
        font-size: .9rem;
      }
    }
  }

  &__tags {
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    padding: 0;

    li {
      &::before {
        content: "#"
      }

      &:not(:last-child) {
        margin-right: .5rem;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &__comments {
  }

  &__likes {
  }

  &__favourite-btn {
    &--active {
      color: $color-red;
    }
  }
}
