.header {
    background-color: var(--color-gray-100)
}

.nav {
    display: flex;
    justify-content: space-between;
}

a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: rgb(85, 85, 85);
}


.active {
    color: rgb(98, 98, 255);
    text-decoration: none;
}

.container {
    display: flex;
}

.logout {
    color: rgb(85, 85, 85);
}
.logout:hover {
    color: rgb(98, 98, 255);
    cursor: pointer;
}