$background-color: #f5f5f5;
/* background-color: #1c1c1c; */
$color-white: #ffffff;
/* --color-gray-100: #121212; */
$color-light-gray: #e5e5e5;
$color-medium-gray: #f5f5f5;
$color-dark-gray: darken($color-medium-gray, 50);
/* --color-gray-200: #1c1c1c; */
$color-light-blue: rgb(98, 98, 255);
$color-dark-blue: darken($color-light-blue, 15);
$border-color: rgb(228, 228, 228);

$width-border: 1px;
$border-radius: 5px;